.outer-div{
    margin: 0 5%;
}

.outer-div p {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: #CE2021;
    letter-spacing: 0;
}
.grid-outer { 
    margin: auto;
}
.panel{
    text-align: center;
    display: inline-block;
    justify-content: center;
    color: #CE2021;
}
.panel-button {
    width: auto;
    text-decoration: none;
    position: relative;
    margin: 0% 10px;
    font: small-caps normal 16px Arial, Helvetica, sans-serif;
    cursor: pointer !important;
      /* no select */
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      user-select: none;          /* Likely future */ 
}

.panel input:focus{
    outline: none;
}